name: CI

on: [push, pull_request]

env:
  RUST_BACKTRACE: 1

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - id: install
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-sweep

      - name: Cache directories
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/bin
            ~/.cargo/git
          key: cargo-test-dirs-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: cargo-test-dirs-

      - name: Cache build
        uses: actions/cache@v2
        with:
          path: target
          key: cargo-test-build-${{ steps.install.outputs.rustc_hash }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-test-build-${{ steps.install.outputs.rustc_hash }}-
            cargo-test-build-

      - name: Register artifacts
        uses: actions-rs/cargo@v1
        with:
          command: sweep
          args: --stamp

      - name: Build
        run: cargo build

      - name: Test
        run: cargo test

      - name: Clean unused artifacts
        uses: actions-rs/cargo@v1
        with:
          command: sweep
          args: --file

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - id: install
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt

      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - id: install
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: clippy
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-sweep

      - name: Cache directories
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/bin
            ~/.cargo/git
          key: cargo-clippy-dirs-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: cargo-clippy-dirs-
      - name: Cache build
        uses: actions/cache@v2
        with:
          path: target
          key: cargo-clippy-${{ steps.install.outputs.rustc_hash }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-clippy-${{ steps.install.outputs.rustc_hash }}-
            cargo-clippy-

      - name: Register artifacts
        uses: actions-rs/cargo@v1
        with:
          command: sweep
          args: --stamp

      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings

      - name: Clean unused artifacts
        uses: actions-rs/cargo@v1
        with:
          command: sweep
          args: --file

  msrv:
    name: Check minimum supported rust version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - id: install
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.45.0
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-sweep

      - name: Cache directories
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/bin
            ~/.cargo/git
          key: cargo-test-dirs-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: cargo-test-dirs-

      - name: Cache build
        uses: actions/cache@v2
        with:
          path: target
          key: cargo-test-build-${{ steps.install.outputs.rustc_hash }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-test-build-${{ steps.install.outputs.rustc_hash }}-
            cargo-test-build-

      - name: Register artifacts
        uses: actions-rs/cargo@v1
        with:
          command: sweep
          args: --stamp

      - name: Check build succeeds
        run: cargo check
